<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../static/css/estilos2.css">
</head>
<body>
    <div class="about-section">
        <h1>Sobre Nosotros</h1>
        <p1>Somos estudiantes de la universidad Diego Portales en la carrera de ingeniería informática y telecomunicaciones.</p1>
        <p></p>
        <p1>Estamos encargados de la realización de un software que permita simular el aforo a tiendas de retail.</p1>
      </div>
      
      <h2 style="text-align:center">Nuestro Equipo</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <a title="Luis y Gabriel" href="https://www.postgresql.org"><img src="../static/img/postgresql.jpg" alt="Franco" style="width:100%"></a>
            <div class="container">
              <h2>Franco Montenegro</h2>
              <p2 class="title">Base de Datos</p2>
              <p>Es el alumno encargado de la creación y posterior utilización de una base de datos donde almacenaremos el resultado de las distintas simulaciones que haremos.</p>
              <p>franco.montenegro@mail.udp.cl</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <a title="Luis y Gabriel" href="https://www.python.org"><img src="../static/img/python.jpg" alt="Luis y Gabriel" style="width:78%"/></a>
            <div class="container">
              <h2>Luis Donoso / Gabriel Castillo</h2>
              <p2 class="title">Logística</p2>
              <p>Son los encargados de desarrollar el código que permite llevar a cabo la simulación del aforo.</p>
              <p>Luis.donoso@mail.udp.cl / Gabriel.castiilo2@mail.udp.cl</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <a title="Luis y Gabriel" href="https://www.w3schools.com/html/"><img src="../static/img/html.jpg" alt="Sebastían" style="width:78%"></a>
            <div class="container">
              <h2>Sebastián Garrido</h2>
              <p2 class="title">Interfaz</p2>
              <p>Es el alumno encargado del desarrollo de la interfaz que conecta al usuario con la aplicación.</p>
              <p>sebastian.garrido1@mail.udp.cl</p>
            </div>
          </div>
        </div>
    </div>
</body>
</html>