<!doctype html>
<html lang="es">
  <head>
    <title>Resultados Anteriores</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/estilos2.css">

  </head>
<body>
    <div id="menu">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('historial') }}">Historial de Simulaciones</a></li>
            <li><a href="{{ url_for('about') }}">Sobre Nosotros</a></li>
        </ul>
    </div>
    </div>
    <div>
        <ul>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">N° </th>
                  <th scope="col">Historial de Simulaciones</th>
                </tr>
              </thead>
              <tbody>
                {% for id in simus %}
                  <tr>
                    <th scope="row">1</th>
                    <td><a href="/historial/{{id[0]}}">{{id[1]}}</a><br></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </ul>
    </div>
</body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>