<!DOCTYPE html>
<html lang="es">
<head>
    <title>Simulacion proyecto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="base.html">Historial de Simulaciones</a></li>
            <li><a href="{{ url_for('about') }}">Sobre Nosotros</a></li>
        </ul>
    </div>
    <div class="contact_form">

        <div class="formulario">            
                    <form action = "{{ url_for('resultado') }}" method = "POST"> 
                    <h2>SIMULADOR PARA AFORO EN TIENDAS DE RETAIL </h2>               
                                <p>
                                    <label for="Simulacion" class="colocar_simulacion">Datos Simulación
                                        <span class="obligatorio">*</span>
                                    </label>
                                        <textarea maxlength="60" name="Simulacion" id="simulacion" required="obligatorio" placeholder="Escriba los datos de esta simulación(nombre responsable/fecha/N°simulación)."></textarea>
                                </p>
                            
                                <p>
                                    <label for="horas diarias" class="colocar_horas">Horas de atención
                                        <span class="obligatorio">*</span>
                                    </label>
                                        <input type="number" type="range" min="0" max="100" id="horas diarias" required="obligatorio" name="Horas_diarias_de_atencion" placeholder="Horas diarias de atención.">
                                </p>
                        
                                <p>
                                    <label for="periodos" class="colocar_periodos">Cantidad de Periodos
                                    </label>
                                        <input type="number" type="range" min="10" max="100" id="periodos" required="obligatorio" name="Pasos" placeholder="Periodos de tiempo o 'pasos'.">
                                </p>                                            
                                <p>
                                    <label for="clientes totales" class="colocar_clientes">Clientes por día
                                        <span class="obligatorio">*</span>
                                    </label>
                                        <input type="number" type="range" min="0" max="100000" id="clientes totales" required="obligatorio" name="Clientes_esperados_por_dia" placeholder="Clientes esperados por día.">
                                </p>          
                                <p>
                                    <label for="distribucion porcentual" class="colocar_distribucion">Distribución porcentual de los clientes
                                        <span class="obligatorio">*</span>
                                    </label>

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_uno" required="obligatorio" name="distribucion_clientes_uno" placeholder="Porcentaje de clientes para horario 1.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_dos" required="obligatorio" name="distribucion_clientes_dos" placeholder="Porcentaje de clientes para horario 2.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_tres" required="obligatorio" name="distribucion_clientes_tres" placeholder="Porcentaje de clientes para horario 3.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_cuatro" required="obligatorio" name="distribucion_clientes_cuatro" placeholder="Porcentaje de clientes para horario 4.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_cinco" required="obligatorio" name="distribucion_clientes_cinco" placeholder="Porcentaje de clientes para horario 5.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_seis" required="obligatorio" name="distribucion_clientes_seis" placeholder="Porcentaje de clientes para horario 6.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_siete" required="obligatorio" name="distribucion_clientes_siete" placeholder="Porcentaje de clientes para horario 7.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_ocho" required="obligatorio" name="distribucion_clientes_ocho" placeholder="Porcentaje de clientes para horario 8.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_nueve" required="obligatorio" name="distribucion_clientes_nueve" placeholder="Porcentaje de clientes para horario 9.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_clientes_diez" required="obligatorio" name="distribucion_clientes_diez" placeholder="Porcentaje de clientes para horario 10.">
                                      
                                </p>
                                <p>
                                    <label for="distribucion de cajas" class="colocar_distribucioncajas">Distribución de las cajas por periodo
                                        <span class="obligatorio">*</span>
                                    </label>                     
                                      
                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_uno" placeholder="Porcentaje de cajas para horario 1.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_dos" placeholder="Porcentaje de cajas para horario 2.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_tres" placeholder="Porcentaje de cajas para horario 3.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_cuatro" placeholder="Porcentaje de cajas para horario 4.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_cinco" placeholder="Porcentaje de cajas para horario 5.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_seis" placeholder="Porcentaje de cajas para horario 6.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_siete" placeholder="Porcentaje de cajas para horario 7.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_ocho" placeholder="Porcentaje de cajas para horario 8.">

                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_nueve" placeholder="Porcentaje de cajas para horario 9.">
                                      
                                      <input type="number" type="range" min="0" max="100" id="distribucion_cajas_uno" required="obligatorio" name="distribucion_cajas_diez" placeholder="Porcentaje de cajas para horario 10.">
                                </p>
                                <p>
                                    <label for="min prod" class="colocar_min">Cantidad minima de productos
                                        <span class="obligatorio">*</span>
                                    </label>                     
                                      <input type="number" type="range" min="1" max="200" id="min prod" required="obligatorio" name="Min_productos_por_cliente" placeholder="Mín productos por cliente.">
                                </p>
                                <p>
                                    <label for="max prod" class="colocar_max">Cantidad máxima de productos
                                        <span class="obligatorio">*</span>
                                    </label>                     
                                      <input type="number" type="range" min="2" max="200"  id="max prod" required="obligatorio" name="Max_productos_por_cliente" placeholder="Máx productos por cliente (debe ser mayor al mín).">
                                </p>
                                <p>
                                    <label for="prom selec" class="colocar_proms">Tiempo promedio de selección de productos
                                        <span class="obligatorio">*</span>
                                    </label>                     
                                      <input type="number" type="range" min="0" max="100" id="prom selec" required="obligatorio" name="Tiempo_seleccion" placeholder="Tiempo promedio de selección de productos por cliente (en segundos).">
                                </p>
                                <p>
                                    <label for="prom marcado" class="colocar_promm">Tiempo promedio del marcado en caja de productos
                                        <span class="obligatorio">*</span>
                                    </label>                     
                                        <input type="number" type="range" min="0" max="100" id="prom marcado" required="obligatorio" name="Tiempo_marcado" placeholder="Tiempo promedio de marcado por producto (en segundos).">                                </p>
                                <p>
                                    <label for="prom pago" class="colocar_promp">Tiempo promedio del pago en caja por cliente.
                                        <span class="obligatorio">*</span>
                                    </label>                     
                                        <input type="number" type="range" min="0" max="100" id="prom pago" required="obligatorio" name="Tiempo_pago" placeholder="Tiempo promedio de pago en caja (en segundos).">

                                </p> 
                                                                    
                                <button type="submit" class="btn btn-info" name="enviar_formulario" id="Simular"><p>Simular</p></button>
                                <p class="aviso">
                                    <span class="obligatorio"> * </span>los campos son obligatorios.
                                </p>                                         
                    </form>
        </div>  
    </div> 
</body>
</html>