<!doctype html>
<html lang="es">
  <head>
    <title>Resultados de la Simulación</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/estilos2.css">

  </head>
  <body>
    <div id="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="base.html">Historial de Simulaciones</a></li>
            <li><a href="about.html">Sobre Nosotros</a></li>
        </ul>
    </div>
        <table class="table table-hover table-dark">
            <tr>
                <th scope="row">Identificador</th>
                <td>{{identificador}}</td>
            </tr>
        </table>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Horas de atencion</th>
                    <th scope="col">Cantidad de períodos</th>
                    <th scope="col">Clientes por día</th>
                    <th scope="col">Cantidad minima de productos</th>
                    <th scope="col">Cantidad máxima de productos </th>
                    <th scope="col">Tiempo promedio de selección</th>
                    <th scope="col">Tiempo promedio del marcado</th>
                    <th scope="col">Tiempo promedio del pago</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{horas_atencion}}</td>
                    <td>{{pasos}}</td>
                    <td>{{clientes_por_dia}}</td>
                    <td>{{min_productos}}</td>
                    <td>{{max_productos}}</td>
                    <td>{{tiempo_seleccion}}</td>
                    <td>{{tiempo_marcado}}</td>
                    <td>{{tiempo_pago}}</td>
                </tr>
            </tbody>
        </table>
            <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Horario 1</th>
                    <th scope="col">Horario 2</th>
                    <th scope="col">Horario 3</th>
                    <th scope="col">Horario 4</th>
                    <th scope="col">Horario 5</th>
                    <th scope="col">Horario 6</th>
                    <th scope="col">Horario 7</th>
                    <th scope="col">Horario 8</th>
                    <th scope="col">Horario 9</th>
                    <th scope="col">Horario 10</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Distribución % de Clientes</th>
                    <td>{{dclientesuno}}</td>
                    <td>{{dclientesdos}}</td>
                    <td>{{dclientestres}}</td>
                    <td>{{dclientescuatro}}</td>
                    <td>{{dclientescinco}}</td>
                    <td>{{dclientesseis}}</td>
                    <td>{{dclientessiete}}</td>
                    <td>{{dclientesocho}}</td>
                    <td>{{dclientesnueve}}</td>
                    <td>{{dclientesdiez}}</td>
                </tr>
                <tr>
                    <th scope="row">Cajas Abiertas</th>
                    <td>{{dcajauno}}</td>
                    <td>{{dcajados}}</td>
                    <td>{{dcajatres}}</td>
                    <td>{{dcajacuatro}}</td>
                    <td>{{dcajacinco}}</td>
                    <td>{{dcajaseis}}</td>
                    <td>{{dcajasiete}}</td>
                    <td>{{dcajaocho}}</td>
                    <td>{{dcajanueve}}</td>
                    <td>{{dcajadiez}}</td>
                </tr>
            </tbody>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Periodo</th>
                    <th scope="col">Cantidad de clientes ingresados</th>
                    <th scope="col">Cantidad de clientes despachados</th>
                    <th scope="col">Promedio de productos por cliente despachado</th>
                    <th scope="col">Promedio de clientes en espera en colas de Caja</th>
                    <th scope="col">Longitud máxima de cola de espera de Caja </th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <th scope="row">1</th>
                    <td>{{ingresadosuno}}</td>
                    <td>{{despachadosuno}}</td>
                    <td>{{promProdsuno}}</td>
                    <td>{{promColauno}}</td>
                    <td>{{colaMaxuno}}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>{{ingresadosdos}}</td>
                    <td>{{despachadosdos}}</td>
                    <td>{{promProdsdos}}</td>
                    <td>{{promColados}}</td>
                    <td>{{colaMaxdos}}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>{{ingresadostres}}</td>
                    <td>{{despachadostres}}</td>
                    <td>{{promProdstres}}</td>
                    <td>{{promColatres}}</td>
                    <td>{{colaMaxtres}}</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>{{ingresadoscuatro}}</td>
                    <td>{{despachadoscuatro}}</td>
                    <td>{{promProdscuatro}}</td>
                    <td>{{promColacuatro}}</td>
                    <td>{{colaMaxcuatro}}</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>{{ingresadoscinco}}</td>
                    <td>{{despachadoscinco}}</td>
                    <td>{{promProdscinco}}</td>
                    <td>{{promColacinco}}</td>
                    <td>{{colaMaxcinco}}</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>{{ingresadosseis}}</td>
                    <td>{{despachadosseis}}</td>
                    <td>{{promProdsseis}}</td>
                    <td>{{promColaseis}}</td>
                    <td>{{colaMaxseis}}</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>{{ingresadossiete}}</td>
                    <td>{{despachadossiete}}</td>
                    <td>{{promProdssiete}}</td>
                    <td>{{promColasiete}}</td>
                    <td>{{colaMaxsiete}}</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>{{ingresadosocho}}</td>
                    <td>{{despachadosocho}}</td>
                    <td>{{promProdsocho}}</td>
                    <td>{{promColaocho}}</td>
                    <td>{{colaMaxocho}}</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>{{ingresadosnueve}}</td>
                    <td>{{despachadosnueve}}</td>
                    <td>{{promProdsnueve}}</td>
                    <td>{{promColanueve}}</td>
                    <td>{{colaMaxnueve}}</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>{{ingresadosdiez}}</td>
                    <td>{{despachadosdiez}}</td>
                    <td>{{promProdsdiez}}</td>
                    <td>{{promColadiez}}</td>
                    <td>{{colaMaxdiez}}</td>
                </tr>
                <tr>
                    <th scope="row">Nª Simulación</th>
                    <td>{{entrada_id}}</td>
                    
                </tr>
                <tr>
                    <th scope="row">Tiempo total simulado</th>
                    <td>{{tiempo_total_simulado}} minutos</td>
                    
                </tr>
            </tbody>
        </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>